@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter";
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {height: 100%;}

body {
    padding: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444444;
    background-image: url(forest.jpg);
    background-size: cover;
    background-blend-mode: overlay;
}

.list-box {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    font-size: 30px;
    box-shadow: 0 20px 50px 0px black;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #00000085;
    margin: auto;
    width: 900px;
    height: 800px;
}

.list {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

.list-element {
    padding: 0 35px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 100%;
    height: 75px;
    background-color: #0000002a;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.3);;
}

.element-text {
    font-size: 17px;
    margin: auto 0;
}

.progress_bar {
    margin-top: auto 0;
    height: 2px;
    width: 80%;
}

.progress {
    height: 100%;
    width: 70%;
    background-color: #fff;
}

.add_btn {
    position: relative;
    left: 350px;
    color: black;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: none;
}